package {{ package_name }};
/**
* This Generic class represents the {{ class_name }} in attack matrix and can be used in case there is no technique that fits the description of the attack matrix.
*/
public class Generic{{ class_name }} extends {{ root_package_name }}.AttackMatrix implements {{ package_name }}.{{ class_name }}
{
    public void {{ class_name }}() {
        super.name = "{{ name }}";
        super.domain = "{{ domain }}";
        super.id = "{{ ID }}";
        super.url = "{{ url }}";
        super.version = "{{ version }}";
        {% if verbose_class %}
        super.description = "{{ description }}";
        {% endif %}
    }
}