package {{ class_package_name }};

import java.util.ArrayList;

import {{ package_name }}.*;
import {{ package_name }}.tactic.*;

/**
* This class represents the {{ class_name }} Tehnique or sub technique in attack matrix
*/
public class {{ class_name }} extends {{ extends }} {% if implements %} implements {{ implements }}{% endif %}
{
    protected ArrayList<MitreAttackDatasource> dataSources = new ArrayList<>();
    protected ArrayList<MitreAttackDefensesBypassed> defencesBypassed = new ArrayList<>();

    {% if verbose_class %}
    protected String description = "";
    {% endif %}

    public void {{ class_name }}() {
        super.name = "{{ name }}";
        super.domain = "{{ domain }}";
        super.id = "{{ ID }}";
        super.url = "{{ url }}";
        super.version = "{{ version }}";

        {% if verbose_class %}
        super.description = {{ description }};
        super.description = {{ description }};
        {% endif %}

        {% for item in data_source_keys %}
        dataSources.add(MitreAttackDatasource.{{ item }});
        {% endfor %}

        {% for item in defense_bypassed_keys %}
        defencesBypassed.add(MitreAttackDefensesBypassed.{{ item }});
        {% endfor %}        
    }

    public ArrayList<MitreAttackDatasource> getDataSources() {
        return dataSources;
    }

    public ArrayList<MitreAttackDefensesBypassed> getDefencesBypassed() {
        return defencesBypassed;
    }



}